@model IEnumerable<BLL.Models.UserDTO>

@{
    ViewData["Title"] = "Inactive Users";
}

@section DataTabel {
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

@section JqueryValidation {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
}

@section Scripts {
    <script>
        $(function () {
            $("#UserTable").DataTable({
                responsive: true,
                lengthChange: true,
                autoWidth: true,
                buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#UserTable_wrapper .col-md-6:eq(0)');
        });
    </script>
}

<div class="content-wrapper">
    <!-- Header -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-danger">
                        👥 Inactive Users
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">All Users</a></li>
                        <li class="breadcrumb-item text-danger">Inactive Users</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card shadow-sm">
                <div class="card-header bg-danger text-white">
                    <h3 class="card-title">🚫 Currently Inactive Users</h3>
                </div>

                <div class="card-body">
                    @if (Model != null && Model.Any())
                    {
                        <table id="UserTable" class="table table-bordered table-striped text-center">
                            <thead class="bg-danger text-white">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
@*                                     <th>MemberId</th>
 *@                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
@*                                         <td>@user.MemberId</td>
 *@                                        <td>
                                            <span class="badge bg-danger">Inactive</span>
                                        </td>
                                        <td>
                                            <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id" class="btn btn-secondary btn-sm">
                                                <i class="fas fa-eye"></i> View
                                            </a>
                                           @*  <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-dark btn-sm">
                                                <i class="fas fa-edit"></i> Edit
                                            </a> *@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-secondary text-center">
                            <i class="fas fa-exclamation-circle"></i> No inactive users found.
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
